extends ../default

block content
  include ../templates/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['sixteen','wide','column'])
      h2(class=['ui','header','blue','dividing'])= 'Lista de parientes'
      div(class=['ui','form'])
        div(class=['ui','three','fields'])
          div(class=['ui','field'])
            input(type='text' name="filtro" onkeyup="myFunction()" placeholder='Filtrar por nombre' id="filtro")
          div(class=['ui','field'])
            input(type='text' name="filtro" onkeyup="myFunction2()" placeholder='Filtrar por hijo' id="filtroHijo")
            
          div(class=['ui','field'])
            input(type='text' name="filtro" onkeyup="myFunction3()" placeholder='Filtrar por correo' id="filtroCorreo")
            
          
      
      table(class=['ui','table','celled'] id='tbl-pariente')
        thead
          tr
            th= 'ID'
            th= 'Nombre'
            th= 'Foto'
            th= 'Hijo/a'
            th= 'Email'
            th= 'Teléfono'
            th= 'Acciones'
            
        tbody
          each par in pariente
            tr  
              td(id='id')= par.idpariente        
              td= par.nombre
              td
                img(class=['ui', 'tiny', 'circular', 'centered','image'] src="static/"+par.foto)
              
              td= par.primer_nombre
              td= par.email
              td= par.telefono
              td
                a(class=['ui button basic icon '] href='/modificarPariente/'+par.idpariente data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['write icon blue'])
                  
                a(class=['ui button basic icon '] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon red'])
                  
  script(src="/javascripts/pariente.js")
