extends default

block content
  div(class=['ui','menu'] style='background-color:#EDEDED;')

    a(class='item' href='/publica')
      
      span= 'Inicio'
  div(class=['ui','container','grid','stackable'])
    div(class=['sixteen','wide','column'])
      table(class=['ui','table','celled'])
        thead
          tr
            
            th= 'Nombre'
            th= 'Nombre 2ยบ'
            th= 'Apellido P'
            th= 'Apellido M'
            th= 'Dni'
            th= 'Estado'
            
        tbody
          each mat in matriculado
            tr
            
              td= mat.primer_nombre
              td= mat.segundo_nombre
              td= mat.apellido_paterno
              td= mat.apellido_materno
              td= mat.dni
              td= mat.estado
      


    div(id="map" style="width:350px;height:350px;background:yellow;float:right;display:inline-block; margin-top:5em;")
    
  script(src='/javascripts/googleMap.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC06gfUvlrhKBwtFx9j9w90BWIwFqZXWzY&callback=myMap')
  
