extends ../default

block content
  include ../templates/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['ten','wide','column'])
      h2(class=['ui','header','blue','dividing'])= 'Modificar Ruta'
      
      div(class='form-nuevaruta')
        form(class=['ui','form'] action='/editarRuta' method='post')
          div(class=['ui','field'])
            label(for='nombreRuta')= 'Nombre'
            input(type='text' name="nombreRuta" placeholder='Nombre' value=ruta[0].nombreRuta)
          
          div(class=['ui','field'])
            label(for='numParadas')= 'Paradas'
            input(type='text' name="numParadas" placeholder='Email' value=ruta[0].numParadas)
            
          div(class=['ui','field'])
            label(for='idrutaIda')= 'Ruta Ida'
            select(class=['ui', 'dropdown'] name="idrutaIda")
              option(value=ruta[0].idrutaIda selected hidden)= ruta[0].nombreRutaIda
              each ruI in rutaida
                if ruta[0].idrutaIda != ruI.idrutaIda
                  option(value=ruI.idrutaIda)= ruI.nombreRutaIda
                  
          div(class=['ui','field'])
            label(for='idrutaVuelta')= 'Ruta Vuelta'
            select(class=['ui', 'dropdown'] name="idrutaVuelta")
              option(value=ruta[0].idrutaVuelta selected hidden)= ruta[0].nombreRutaVuelta
              each ruV in rutavuelta
                if ruta[0].idrutaVuelta != ruV.idrutaVuelta
                  option(value=ruV.idrutaVuelta)= ruV.nombreRutaVuelta
  
            
            input(type='hidden' name="idruta" value=ruta[0].idruta)
          button(class=['ui','button','basic','black'])= 'Modificar Ruta'
          div(class=['ui','message','error'])
      
    
  //- script(src='/javascripts/validacion.js')
