extends ../default

block content
  include ../templates/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['sixteen','wide','column'])
      h2(class=['ui','header','blue','dividing'])= 'Lista de rutas'
      div(class=['ui','form'])
        div(class=['ui'])
          div(class=['ui','field'])
            input(type='text' name="filtro" onkeyup="myFunction()" placeholder='Filtrar por nombre' id="filtro")
      
      table(class=['ui','table','celled'] id='tbl-ruta')
        thead
          tr
            th= 'ID'
            th= 'Enviar Correo'
            th= 'Nombre'
            th= 'Paradas'
            th= 'Ruta Ida'
            th= 'Ruta Vuelta'
            th= 'Acciones'
            
        tbody
          each ru in ruta
            tr
              td(id='id')= ru.idruta
              td(width="10%" class=['center aligned'])
                a(class=['ui button basic icon '] href='#' data-inverted='' data-tooltip='Informar de atasco' data-position='top center' id='email')
                  i(class=['mail center icon white'])
                
              td= ru.nombreRuta
              td= ru.numParadas
              td= ru.nombreRutaIda
              td= ru.nombreRutaVuelta
              td
                a(class=['ui button basic icon '] href='/modificarRuta/'+ru.idruta data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['write icon blue'])
                  
                a(class=['ui button basic icon '] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon red'])
                  
                  
                  
      a(class=['ui', 'button' ] href='/nuevaRuta')= 'Nuevo'
      a(class=['ui button'] href='/gestion')= 'Volver'
                  
  script(src="/javascripts/ruta.js")
