extends ../default

block content
  include ../templates/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['sixteen','wide','column'])
      h2(class=['ui','header','blue','dividing'])= 'Lista de autobuses'
      
      table(class=['ui','table','celled'] id='tbl-autobus')
        thead
          tr
            th= 'ID'
            th= 'Matricula'
            th= 'Ruta'
            th= 'Capacidad'
            th= 'Conductor'
            th= 'Monitor'
            th= 'Acciones'
            
        tbody
          each bus in autobus
            tr
              td(id='id')= bus.id
              td= bus.matricula
              td= bus.idruta
              td= bus.capacidad
              td= bus.idconductor
              td= bus.idmonitor
              td
                a(class=['ui button basic icon '] href='/modificar/'+bus.id data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['write icon blue'])
                  
                a(class=['ui button basic icon '] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon red'])
                  
  script(src="/javascripts/autobus.js")
