extends ../default

block content
  include ../templates/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['ten','wide','column'])
      h2(class=['ui','header','blue','dividing'])= 'Modificar Autobus'
      
      div(class='form-nuevoautobus')
        form(class=['ui','form'] action='/editar' method='post')
          div(class=['ui','field'])
            label(for='matricula')= 'Matricula'
            input(type='text' name="matricula" placeholder='Matricula' value=autobus[0].matricula)
          div(class=['ui','two','fields'])
            div(class=['ui','field'])
              label(for='idruta')= 'Ruta'
              select(class=['ui', 'dropdown'] name="idruta")
                option(value=autobus[0].idruta selected hidden)= autobus[0].nombreRuta
                each ru in ruta
                  option(value=ru.idruta)= ru.nombreRuta
              //- input(type='text' name="idruta" placeholder='Ruta' value=autobus[0].idruta)
            div(class=['ui','field'])
              label(for='capacidad')= 'Capacidad'
              input(type='text' name="capacidad" placeholder='Capacidad' value=autobus[0].capacidad)
            div(class=['ui','field'])
              label(for='idconductor')= 'Conductor'
              select(class=['ui', 'dropdown'] name="idconductor")
                option(value=autobus[0].idconductor selected hidden)= autobus[0].nombreConductor
                each con in conductor
                  option(value=con.idconductor)= con.nombreConductor
              //- input(type='text' name="idconductor" placeholder='Conductor' value=autobus[0].idconductor)
            div(class=['ui','field'])
              label(for='idmonitor')= 'Monitor'
              select(class=['ui', 'dropdown'] name="idmonitor")
                option(value=autobus[0].idmonitor selected hidden)= autobus[0].nombreMonitor
                each mon in monitor
                  option(value=mon.idmonitor)= mon.nombreMonitor
              //- input(type='text' name="idmonitor" placeholder='Monitor' value=autobus[0].idmonitor)
              input(type='hidden' name="id" value=autobus[0].id)
          button(class=['ui','button','basic','black'])= 'Modificar Autobus'
          div(class=['ui','message','error'])
      
    
  script(src='/javascripts/validacion.js')
