extends ../default

block content
  include ../templates/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['sixteen','wide','column'])
      h2(class=['ui','header','blue','dividing'])= 'Lista de monitores'
      div(class=['ui','form'])
        div(class=['ui','two','fields'])
          div(class=['ui','field'])
            input(type='text' name="filtro" onkeyup="myFunction()" placeholder='Filtrar por nombre' id="filtro")
            
          div(class=['ui','field'])
            input(type='text' name="filtro" onkeyup="myFunction2()" placeholder='Filtrar por correo' id="filtroMail")
            
        
      table(class=['ui','table','celled'] id='tbl-monitor')
        thead
          tr
            th= 'ID'
            th= 'Nombre'
            th= 'Email'
            th= 'Teléfono'
            th= 'Acciones'
            
        tbody
          each mon in monitor
            tr
              td(id='id')= mon.idmonitor
              td= mon.nombreMonitor
              td= mon.email
              td= mon.telefonoMonitor
              
              td
                a(class=['ui button basic icon '] href='/modificarMonitor/'+mon.idmonitor data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['write icon blue'])
                  
                a(class=['ui button basic icon '] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon red'])
                  
                  
      a(class=['ui', 'button' ] href='/nuevoMonitor')= 'Nuevo'
      a(class=['ui button'] href='/')= 'Volver'
                  
  script(src="/javascripts/monitor.js")
